.total-label {
  display: inline-block;
  margin-left: 6px;
  padding: 2px 4px;
  font-size: 11px;
  background-color: #848F99;
  border-radius: 8px;
  color: #fff;
  min-width: 16px;
  text-align: center;
}
.total-label:first-child {
  margin-left: 12px;
}
